<%= link_to '< All Lists', lists_path %>
<h1 id="list-name" data-list-id="<%= @list.id %>" data-user-id="<%= @list.user_id %>"><%= @list.name %></h1>
  <div id="new-list">
    <div>
      <span><%= link_to '+ Add New Item', new_list_item_path(@list) %></span>
      <button id="add-existing">+ Add Item from Existing</button>
    </div>

    <%= form_tag("/items/packed", :method => "patch") do %>
    <ul style="list-style-type:none;" id="list-of-items">
      <% @list.items.each do |item| %>
        <% if item.packed == true %>
          <li class="checked-off"><%= item.item_name %></li>
        <% else %>
          <li class="not-checked-off"><%= check_box_tag "items_checkbox[]", item.id %><%= item.item_name %></li>
        <% end %>
      <% end %>
    </ul>
    <div id="save-list"><%= submit_tag("Save", :class=>"btn btn-success") %></div>
    <% end %>
    <%= button_to "Clear", @list.id.to_s + '/unpack', :method => :patch %>
  </div>
<div id="existing-list">
  <h2>Clothing</h2>
  <div id="Clothing"></div>
  <h2>Accessories</h2>
  <div id="Accessories"></div>
  <h2>Shoes</h2>
  <div id="Shoes"></div>
  <h2>Toiletries</h2>
  <div id="Toiletries"></div>
  <h2>Electronics</h2>
  <div id="Electronics"></div>
  <h2>Miscellaneous</h2>
  <div id="Miscellaneous"></div>
</div>

<div id="done-adding">
</div>
